################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TestGit/TestGit/bin/Debug
/TestGit/TestGit/obj/Debug/TestGit.exe
/TestGit/TestGit/obj/Debug/TestGit.pdb
/TestGit/TestGit/obj/Debug/TestGit.csprojResolveAssemblyReference.cache
